body {
	background-image: url(background.jpg);
	background-repeat: repeat;
	background-position: left-side
}
header {
	background-color: #EDFFFF;
	text-align: left;
	font-family: "Arial";
	padding-top: 1px;
	padding-left: 50px;
	padding-bottom: 10px;
	line-height: 10px
}
i.vklogo {
	background-image: url(vk.png)
}
footer {
	background-color: #EDFFFF
}
html,
body {
	/* margin: 10px; */
	font-family: "Calibri";
	font-size: 16px;
	color: #3c4241;
	line-height: 30px
}
div {
	background-color: #DDFFFF;
	padding-left: 10px
}
.me {
	max-width: 1000px
}
.experience {
	max-width: 1000px
}
.idol {
	background-color: #e6ffe0;
	margin-right: 20px;
	text-align: center;
	line-height: 19px;
	padding-top: 10px;
	width: 450px;
	height: 450px
}
.quote {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px
}
.code {
}
span.quote {
	font-style: italic;
	font-size: 25px
}
code {
	font-size: 14px;
	line-height: 20px
}
img.me {
	float: left;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin-top: 10px;
}