:root {
    --block-color: rgba(243, 245, 246, 0.9);
    --main-color: #E0E2DB;
}

@font-face {
    font-family: "Roboto";
    src: url("../Roboto-Regular.ttf")
}

@font-face {
    font-family: "RobotoBold";
    src: url("Roboto-Bold.ttf")
}

@font-face {
    font-family: "PlayfairDisplay";
    src: url("../PlayfairDisplay-VariableFont_wght.ttf")
}

body {
    background-image: url(img/w1.jpg);
    /*background-repeat: repeat-x;*/
    background-size: cover;
    background-position: center;
    /*background-attachment: fixed;*/
    /*backdrop-filter: blur(5px);*/

    margin: 0;
    background-color: white;
    font-family: "Roboto", serif;
}

div.window-block {
    margin-bottom: 50px;
    /*padding: 10px 20%;*/
    /*width: 100vw;*/
}

div.content-block {
    width: auto;
    height: auto;
    margin: 20px;
    padding: 10px;
    box-sizing: content-box;
    background: var(--block-color);
    border-radius: 5px;

    box-shadow: 0 0 5px #0006;
}

div.content-row {
    display: flex;
    flex-direction: row;
}

div.content-column {
    display: flex;
    flex-direction: column;
}

div.reply {
    margin-bottom: 10px;
    margin-top: 10px;
    line-height: 30px;
    max-width: 50%;
    width: auto;
}

.reply-content {
    font-family: "PlayfairDisplay", serif;
    font-size: 12pt;
    line-height: 30px;
    background-color: white;
    border: 1px solid black;
    border-radius: 1px;
    padding: 2px;
}

div.reply-form {

}

.reply-form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
    width: 80%;
}

main {
    display: flex;
    /*background: var(--main-color);*/
    margin: 0 15%;
}

div.main-flex {
    width: 100%;
    padding-bottom: 50px;
    box-sizing: content-box;
}

.video-background {
    height: 600px;
    overflow: hidden;
    position: relative;

    /*border-bottom: 1px solid lightsteelblue;*/
}

.video-background video {
    margin-top: -200px;
}

.hello-text {
    width: 100%;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    text-align: center;

    color: white;

    font-size: 5em;
    font-weight: bolder;
    text-shadow: 0 0 6px #000;
}

.carousel-caption {
    left: 0;
    right: 0;
    bottom: 0;
    /*height: 140px;*/
    padding-top: 60px;
    background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
}

.carousel-item {
   height: 650px;
}

.carousel-caption {
    line-height: 1.4;
    text-shadow: 0 0 4px #000;
}

.carousel-inner{
    border-radius: 10px;
}

.review-container {
    display: flex;
}

.review-container .card {
    margin: 10px;
}
.review-container img {
    width: 50%;
    align-self: center;
    margin: 10px;
}

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}

.navbar-brand {
    font-family: 'Bungee Shade', cursive;
    font-size: 1.5rem;
    text-shadow: 0 0 6px orange;
}

.input-form {
    display: flex;
    padding: 10px 0;
}

.input-form input {
    flex: 1;
    margin-left: 10px;
}

.input-form label {
    white-space: nowrap;
}